/* YourSearchBarStyles.module.css */

.SearchBar {
  margin-bottom: 16px;
}

.InputWrapper {
  position: relative;
}

.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
}

.SearchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #cfced3;
  pointer-events: none;
}

.MasonryGrid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.MasonryGridColumn {
  padding-left: 16px;
  background-clip: padding-box;
}
