.CustomModalContent {
  border-radius: 20px;
}

.Row {
  height: calc(100vh - 81px);
}

.Input {
  background: #ffffff;
  border: 2px solid #b7b7bb;
  box-sizing: border-box;
  border-radius: 10px;
  color: #7177a1;

  padding: 10px;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #3e3e3e;
}

.Container {
  padding: 30px 10px;
}

.Label {
  font-size: 14px;
  font-weight: bold;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.LogInCol {
  height: 395px;
}

.PasswordInputContainer {
  position: relative;
}

.PasswordToggleIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #ff9254;
  font-weight: bold;
}

.signUpButton {
  height: 50px;
  padding: 5px;
  color: #ff9254;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
}
